<div class="container">
  <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block">401</span>
          <div class="mb-4 lead">
            Unathorized! Nie posiadasz uprawnień do korzystania z żądanego zasobu!
          </div>
          <a href="/login" class="btn btn-link">Powrót</a>
        </div>
      </div>
    </div>
  </div>
</div>
