<div class="container">
  <div class="user-container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">Lista rejestrów</h3>
            <a href="admin/registers/create" class="nav-link" *ngIf="isAdmin" >Dodaj rejestr</a>
            <!--<button *ngIf="isAdmin" (click)="openOnWeb()" class="btn btn-warning btn-xm" >Podgląd formatu pdf</button>-->
            <!--<button *ngIf="isAdmin" (click)="downloadPDF()" class="btn btn-success btn-xm" style="margin-left: 10px" >Download Pdf</button>-->
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa projektu</th>
            <th scope="col">Data</th>
            <th scope="col">Pracownik</th>
            <th scope="col">Czas pracy</th>
            <th scope="col">Obecność</th>
            <th scope="col" *ngIf="isAdmin" >Opcje edycji</th>
            <th scope="col" *ngIf="!isAdmin" >Szczegóły</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let register of registers | async">
            <th >{{register.id}}</th>
            <td>{{register.project.projectName}}</td>
            <td>{{register.date}}</td>
            <td>{{register.employee.firstName}} {{register.employee.lastName}} </td>
            <td>{{register.workTime}}</td>
            <td>{{register.absence}}</td>
            <td>
              <button *ngIf="isAdmin" (click)="registerUpdate(project.id)" class="btn btn-primary"  style="margin-right: 10px">Update</button>
              <button *ngIf="isAdmin" (click)="deleteRegister(project.id)" class="btn btn-danger">Delete</button>
              <button  (click)="projectDetails(project.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
