<div class="container">
  <div class="user-container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">Dzienny rejestr pracowników</h3>
            <button (click)="createRegister()" class="btn btn-danger">Utwórz rejestr</button>
            <button (click)="onSubmit()" style="margin-left: 20px" class="btn btn-success btn-xm">Zapisz rejestr</button>
          </div>
        </div>
      </div>

      <div  class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Nazwa projektu</th>
            <th scope="col">Data</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Godziny pracy</th>
            <th scope="col">Powód nieobecności</th>

            <!--<th scope="col" *ngIf="isAdmin" >Opcje edycji</th>-->
            <!--<th scope="col" *ngIf="!isAdmin" >Szczegóły</th>-->
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let register of timeRegister ">
            <td>{{register.project.projectName}}</td>
            <td>{{register.date | date:'yyyy-MM-dd'}}</td>
            <td>{{register.employee.firstName}}</td>
            <td>{{register.employee.lastName}}</td>
            <td>
              <input type="text" class="form-control"  id="registerName" required [(ngModel)]="register.workTime" name="registerName">
            </td>
            <td>
              <input type="text" class="form-control"  id="absence" required [(ngModel)]="register.absence" name="absence">
             </td>
            <!--<td>-->
              <!--<button *ngIf="isAdmin" (click)="employeeUpdate(employee.id)" class="btn btn-primary"  style="margin-right: 10px">Update</button>-->
              <!--<button *ngIf="isAdmin" (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>-->
              <!--<button  (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>-->
            <!--</td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
